<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div class="products">
      <div class="product">
        <h1>сыр</h1>
        <button class="product-button" data-id="1" data-nameProduct="сыр">Купить</button>
      </div>
      <div class="product">
        <h1>Хлеб</h1>
        <button class="product-button" data-id="2" data-nameProduct="Хлеб">Купить</button>
      </div>
      <div class="product">
        <h1>Оливки</h1>
        <button class="product-button" data-id="3" data-nameProduct="Оливки">Купить</button>
      </div>
   </div>
   <button class="btn-buy">Офоррмить заказ</button>
   <div class="purchases">

   </div>

    <script src="./javascripts/main.js"></script>
  </body>
</html>
